* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2rem;
}

#uploadForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    text-align: center;
}

input[type="file"] {
    font-size: 1rem;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
    cursor: pointer;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #555;
}

#image-container {
    margin-top: 20px;
    text-align: center;
}

#uploaded-image {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#classification-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

#prediction {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px 0;
}

#confidence {
    font-size: 1rem;
    color: #777;
}
